html {
  text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
 }

* {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

b {
  font-weight: bold;
}

body {
  background-color: rgb(253, 253, 253);
  margin: 0;
  padding: 0;
  background-image: repeating-linear-gradient( 0deg,rgb(244, 244, 244) 0px 2px,	transparent 2px 4px)
}

.container {
  background-color: rgb(241, 241, 241);
  width: 70%;
  min-width: 800px;
  margin: auto;
  margin-top: 1cap;
  margin-bottom: 2cap;
  padding: auto;
  padding-top: 1cap;
  padding-bottom: 1cap;
  justify-content: center;
  border-radius: 15px;
}

.container h1 {
  margin-left: 2cap;
}

.headfoot {
  width: 90%;
  margin: 0 auto 1cm;
  max-width: 800px;
  min-width: 800px;
  overflow-wrap: break-word;
  justify-content: center;
}

.headfoot p {
  max-width: 650px;
  margin: 0 auto ;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover{
text-decoration: underline;
color: #000;
}

.url {
  text-decoration: underline;
}

.cchild {
  background-color: rgb(253, 254, 254);
  width: 90%;
  max-width: 600px;
  padding: 0.5cm 1cm 1cm;
  margin: 0 auto;
  margin-bottom: 0.7cm;
  overflow-wrap: break-word;
  border-radius: 15px;
  border: 0.7px solid rgb(0, 0, 0);
}

.cchild h1{
  margin: auto;
  margin-bottom: -5px;
}

.resizeimage img { max-width: 100%; }

hr {
  border: 0.7px solid #000;
}

.tterms {
  margin-top: 0;
  margin-bottom: 0;
  font-size: xx-small;
  border: none;
  background-color: transparent;
  color: #bbb;
}

td {
    vertical-align: top;
}
