* {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(253, 253, 253);
  margin: 0;
  padding: 0;
  background-image: repeating-linear-gradient( 0deg,rgb(244, 244, 244) 0px 2px,	transparent 2px 4px)
}

.container {
  background-color: rgb(241, 241, 241);
  width: 70%;
  min-width: 800px;
  margin: auto;
  margin-top: 1cap;
  margin-bottom: 2cap;
  padding: auto;
  padding-top: 1cap;
  padding-bottom: 1cap;
  justify-content: center;
  border-radius: 15px;
}

.headfoot {
  width: 90%;
  margin: 0 auto 1cm;
  max-width: 800px;
  min-width: 800px;
  overflow-wrap: break-word;
  justify-content: center;
}

.pparent {
  width: 90%;
  max-width: 800px;
  min-width: 800px;

  margin: 0 auto 1cm;
  padding: 0cm;
  border: 0px solid #fcfcfc;
  border-radius: 15px;
  overflow-wrap: break-word;
  justify-content: center;
}

.pparent h2{
  padding-left: 1cap;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover{
text-decoration: underline;
color: #000;
}

.url {
  text-decoration: underline;
}

.cchild {
  background-color: rgb(253, 254, 254);
  width: 90%;
  max-width: 600px;
  padding: 0.5cm 1cm 1cm;
  margin: 0 auto;
  margin-bottom: 5cap;
  overflow-wrap: break-word;
  border-radius: 15px;
  border: 3px solid rgb(0, 0, 0);
}

.cchild h1{
  margin-bottom: -5px;
}

.resizeimage img { max-width: 100%; }

hr {
  border: 1px solid #000;
}
