<!DOCTYPE html><html lang="ja">
<head>
    <meta charSet="utf-8"/>
    <title>YumaSATO Works</title>
    <meta name="YumaSATO" content="Works" />

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>


    <nav class="grey darken-4" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">作品集 - YumaSATO</a></div>       
    </nav>        
{{ content }}
 <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="assets/js/materialize.min.js"></script>

</body>
</html>
